<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GRAPHQL - {{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let item of listItems; index as i; first as isFirst" [routerLink]="'/item-detail/' + item._id"
    lines="inset" routerDirection="root" routerLinkActive="selected" detail>
    <ion-label>
      {{item.name}}
    </ion-label>
  </ion-item>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-button (click)="newItemHandler()" routerDirection="root" routerLink="/item-new-form"
      routerLinkActive="selected" expand="full">NEW</ion-button>
  </ion-toolbar>
</ion-footer>